<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="use_gui"
    value="$(arg gui)" />

  <!--node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0.1 0 0 0 base_footprint base_link 40" /-->

  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find imr100_robot)/rviz/gazebo.rviz" />
</launch>